/* FONT CODE*/
body{    
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF/*#eceff1*/;
}

h1 {
	font-family: 'Droid Sans regular', sans-serif;
	/*font-size: 24px;
	font-style: regular;
	font-variant: regular;
	/*font-weight: regular;
	line-height: 200px;*/
}

quote {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-style: italic;
	/*font-variant: normal;*/
	font-weight: 100;
	line-height: 30px;
}

h4 {
	font-family: 'Lato', sans-serif;
	/*font-size: 14px;
	font-style: italic;
	font-variant: normal;*/
	font-weight: 300;
    /*line-height: 30px;*/}

/*PAGE CODE*/

.row.no-pad {
 	margin-right:0;
 	margin-left:0;
	}
	
.row.no-pad > [class*='col-'] {
  	padding-right:0;
	padding-left:0;
	}

/*TOP BANNER*/	

.titlespace{
  width: 100%; 
  height: 65vh; 
  position: relative;       
  /*background-color: darkslateblue;
    opacity: .9;
    background: url(../BackgroundPictures/lake.png) no-repeat; */
}

.titletext{
  position: absolute; 
  left: 25%; 
  top: 15vh; 
  width: 50%; 
  height: 84px; 
  display: table;
  text-align: center;
  color:black;
}
.quotation{
    position: absolute; 
    width:50%;
    text-align: center;
    left: 25%; 
    top: 36vh; 
    display: table;
    color:black;
}

.subtitlespace{
  width: 100%; 
  height: 20vh; 
  position: relative;       
}

.subtitletext{
  position: absolute; 
  left: 12%; 
  top: 1vh; 
  width: 75%; 
  height: 10px; 
  display: table;
  text-align: center;
  color:black;
   
}



/* NAVIGATION BANNER */



@media (max-width: 768px) {
  .Navblocks {
    height:10vh;
    
    }}
@media (min-width: 768px) {
  .Navblocks {
   height: 45vh;
  }}

.Navblocks{
	border: 1px solid black;
	width 100%;
	text-align: center; 
	}	
	
.youtube{
	height: 100%; 
	z-index: -99; 
	}

/* MORE BUTTONS */

.fafabutton {
	position: absolute;
	right: 0;
    bottom:0;
    top:17vh;
    left:0;
	opacity: 0.3;
    line-height: 35px;
    color: #070F1B;

    
	}
	

/* SOCIAL MEDIA LINKS */

.socialmedia {
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
	}