/* FONT CODE*/
body{    
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF/*#eceff1*/;
}

h1 {
	font-family: 'Droid Sans regular', sans-serif;
	/*font-size: 24px;
	font-style: regular;
	font-variant: regular;
	/*font-weight: regular;
	line-height: 200px;*/
}

quote {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-style: italic;
	/*font-variant: normal;*/
	font-weight: 100;
	line-height: 30px;
}

h4 {
	font-family: 'Lato', sans-serif;
	/*font-size: 14px;
	font-style: italic;
	font-variant: normal;*/
	font-weight: 300;
    /*line-height: 30px;*/}

h2 {
	font-family: 'Droid Serif', sans-serif;
	font-size: 24px;
    text-align: center;
	/*font-style: normal;
	font-variant: normal;
	font-weight: 300;
    /*line-height: 200px;*/
}

p {
	font-family: 'Droid Serif', sans-serif;
	font-size: 14px;
	/*font-style: normal;
	font-variant: normal;
	font-weight: 300;
	/*line-height: 200px;*/
}

/*PAGE CODE*/

.row.no-pad {
 	margin-right:0;
 	margin-left:0;
	}
	
.row.no-pad > [class*='col-'] {
  	padding-right:0;
	padding-left:0;
	}

/*TOP BANNER*/	

.titlespace{
  width: 100%; 
  height: 65vh; 
  position: relative;


}

.titletext{
  position: absolute; 
  left: 25%; 
  top: 15vh; 
  width: 50%; 
  height: 84px; 
  display: table;
  text-align: center;

}
.quotation{
    position: absolute; 
    width:50%;
    text-align: center;
    left: 25%; 
    top: 36vh; 
    display: table;
    color:black;
}






/* NAVIGATION BANNER */



@media (max-width: 768px) {
  .Navblocks {
    height:10vh;
    
    }}
@media (min-width: 768px) {
  .Navblocks {
   height: 10vh;
  }}

.Navblocks{
	border: 1px solid #080706;
	width 100%;
	text-align: center; 
     background-color: #E8E8E8 ;
}
.Navblocks:hover{
    background-color: #F7F5E6;
}

.Navtext{
  position: absolute; 
  left: 12%; 
  top: 1vh; 
  width: 75%; 
  height: 10px; 
  display: table;
  text-align: center;
  color:#333A56;
   
}
	
.youtube{
	height: 100%; 
	z-index: -99; 
	}

/*TEXT*/	

.textspace{
  width: 100%; 
  position: relative;      
    
   
  /*background-color: darkslateblue;
    opacity: .9;
    background: url(../BackgroundPictures/lake.png) no-repeat; */
}

.text{
  position: relative;  
  top: 5vh; 
  width: 100%; 
    align-content: center;
  display: table;
  text-align: left;
  color:black;
 background-color: #FFFFFF;
    padding-left: 10%;
    padding-bottom: 20px;
    padding-top:10px;
    padding-right: 10%

}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DADBDE;
    margin: 1em 0;
    padding: 0;
}

/* MORE BUTTONS */

.fafabutton {
	position: absolute;
	right: 0;
    bottom:0;
    top:3vh;
    left:0;
	opacity: 0.3;
    line-height: 35px;
    color: #070F1B;

    
	}
	

/* SOCIAL MEDIA LINKS */

.socialmedia {
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
	}