/* FONT CODE*/
body{    
    font-family: 'Open Sans', sans-serif;
    background-color: #DADBDE/*#eceff1*/;
    
}

h1 {
	font-family: 'Droid Serif', sans-serif;
	font-size: 24px;
	/*font-style: normal;
	font-variant: normal;
	font-weight: 300;
    /*line-height: 200px;*/}

p {
	font-family: 'Droid Serif', sans-serif;
	font-size: 14px;
	/*font-style: normal;
	font-variant: normal;
	font-weight: 300;
	/*line-height: 200px;*/
}





/*PAGE CODE*/

.row.no-pad {
 	margin-right:0;
 	margin-left:0;
	}
	
.row.no-pad > [class*='col-'] {
  	padding-right:0;
	padding-left:0;
	}

/*TOP BANNER*/	

.textspace{
  width: 100%; 
  position: relative;      
    
   
  /*background-color: darkslateblue;
    opacity: .9;
    background: url(../BackgroundPictures/lake.png) no-repeat; */
}

.text{
  position: relative; 
  left: 25%; 
  top: 5vh; 
  width: 60%; 
  display: table;
  text-align: left;
  color:black;
 background-color: #FFFFFF;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top:10px;
    padding-right: 10px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DADBDE;
    margin: 1em 0;
    padding: 0;
}

.sidenavigation
{padding-top: 25vh;}


/* NAVIGATION BANNER */







	

/* SOCIAL MEDIA LINKS */

.socialmedia {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	}