/* FONT CODE*/
body{    
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF/*#eceff1*/;
}

h1 {
	font-family: 'Droid Serif', sans-serif;
	font-size: 24px;
	/*font-style: normal;
	font-variant: normal;
	font-weight: 300;
    /*line-height: 200px;*/}

p {
	font-family: 'Droid Serif', sans-serif;
	font-size: 14px;
	/*font-style: normal;
	font-variant: normal;
	font-weight: 300;
	/*line-height: 200px;*/
}





/*PAGE CODE*/

.row.no-pad {
 	margin-right:0;
 	margin-left:0;
	}
	
.row.no-pad > [class*='col-'] {
  	padding-right:0;
	padding-left:0;
	}

/*TOP BANNER*/	

.titlespace{
  width: 100%; 
    height: 80vh;
  position: relative;       
  /*background-color: darkslateblue;
    opacity: .9;
    background: url(../BackgroundPictures/lake.png) no-repeat; */
}

.titletext{
  position: absolute; 
  left: 25%; 
  top: 5vh; 
  width: 50%; 
 
  display: table;
  text-align: left;
  color:black;
}


.subtitlespace{
  width: 100%; 
  height: 50vh; 
  position: relative;       
}

.subtitletext{
  position: absolute; 
  left: 20%; 
  top: 1.5vh; 
  width: 75%; 
  height: 10px; 
  display: table;
  text-align: center;
  color:black;
   
}
.sidenavigation
{padding-top: 25vh;}


/* NAVIGATION BANNER */



@media (max-width: 768px) {
  .Navblocks {
    height:10vh;
    
    }}
@media (min-width: 768px) {
  .Navblocks {
   height: 10vh;
  }}

.Navblocks{
	border: 1px solid black;
	width 100%;
	text-align: center; 
    background-color: #DADBDE;
	}	

	
.youtube{
	height: 100%; 
	z-index: -99; 
	}

/* TEXT BOX */




/* MORE BUTTONS */

.fafabutton {
	position: absolute;
	/*right: 0;*/
    bottom:0;
    top:2vh;
    left:0;
	opacity: 0.3;
    line-height: 35px;
    color: #070F1B;
    padding-left: 10px;

    
	}
	

/* SOCIAL MEDIA LINKS */

.socialmedia {
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
	}